*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  word-break: break-word;
}

img{
  width:150px;
  height: 150px;
  border-radius: 100px;
}
main{
  width: 80%;
  margin: 10px auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;


}
.card{
  width: 25%;
  margin: 10px;
  box-shadow: 0 0 5px 2px dimgray;
  padding: 5px;
}